$shows-colour1: #11eeff;
$shows-colour2: #1eff71;
$episodes-colour: #ff20d2;
$playlists-colour: #fde147;
$bg-colour: #09163b;
$main-font: "proxima-nova", 'Helvetica', 'Arial', sans-serif;

html,
body {
	margin: 0;
	position: fixed;
  overflow: hidden;
	overscroll-behavior-y: none;
}
#masthead {
	min-height: 0 !important;
	margin: 0 auto;
	padding: 10px 0 0 !important;
	pointer-events: none;
}
#navToggler,
#menu-asa-main-menu,
.nav-link {
	pointer-events: auto;
}
#custom-nav {
	pointer-events: none;
}
#app {
	font-family: $main-font;
	width: 100vw;
	margin: 0 auto;
	height: 100vh;
	#preloader {
		position: fixed;
		top: 10px;
		left: 0;
		width: 300vw;
		height: 300vw;
		border-radius: 50%;
		left: 50%;
	 	top: 50%;
		-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
		background-color: $bg-colour;
		opacity: 0.95;
		z-index: 9999;
		#preloader-logo {
			padding-top: 40px;
			position: fixed;
			left: 50%;
		 	top: 50%;
			-webkit-transform: translate(-50%, -50%);
	    -moz-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
			width: 30px;
			height: 30px;
			background: url(nav-toggle-default.svg) no-repeat;
			background-position: center;
			background-size: 30px 30px;
			z-index: 9999;
		}
	}
	.landscapeMsg {
		display: none;

		pointer-events: none;
		position:absolute;
		top:0;
		left:0;
		width: 100vw;
		height: 100vh;
		color: white;
		background-color: black;
		opacity: 0;
		-webkit-backface-visibility: hidden;
		p {
			text-shadow: 1px 1px 1px black;
		}
	}
	.muted {
		background: url(muted.svg) no-repeat;
		background-size: contain;
		width: 2em;
		height: 2em;
		z-index: 9999;
	}
	.desktopControls {
		border: 1px solid white;
		border-radius: 50%;
		height: 10em;
		width: 10em;
		position: absolute;
		bottom: 60px;
		right: 60px;
		color: white;
		opacity: 0.8;
		z-index: 9999;
		cursor: pointer;
		padding: 0;
		overflow: hidden;
		@media all and (max-width: 800px) {
			display: none;
		}
		.navButton {
			width: 5em;
			height: 5em;
			background: url(arrow.svg) no-repeat;
			background-size: 1em;
			background-position: 70% 70%;
			&.hover {
				background: -moz-radial-gradient(bottom right, ellipse cover, rgba(255,255,255,0) 20%, rgba(255,255,255,0.8) 100%), url(arrow.svg) 70% 70% / 1em no-repeat; /* FF3.6-15 */
				background: -webkit-radial-gradient(bottom right, ellipse cover, rgba(255,255,255,0) 20%,rgba(255,255,255,0.8) 100%), url(arrow.svg) 70% 70% / 1em no-repeat; /* Chrome10-25,Safari5.1-6 */
				background: radial-gradient(ellipse at bottom right, rgba(255,255,255,0) 20%,rgba(255,255,255,0.8) 100%), url(arrow.svg) 70% 70% / 1em no-repeat; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			}
		}
		.navUp {
			position: absolute;
			top: -1.5em;
			left: 2.5em;
			transform: rotate(45deg);
		}
		.navRight {
			position: absolute;
			right: -1.5em;
			top: 2.5em;
			transform: rotate(135deg);
		}
		.navDown {
			position: absolute;
			bottom: -1.5em;
			left: 2.5em;
			transform: rotate(225deg);
		}
		.navLeft {
			position: absolute;
			left: -1.5em;
			top: 2.5em;
			transform: rotate(315deg);
		}
	}
	#backgroundVideo {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-size: cover;
		-webkit-filter: blur(80px) grayscale(20%);
		-moz-filter: blur(80px) grayscale(20%);
		-o-filter: blur(80px) grayscale(20%);
		-ms-filter: blur(80px) grayscale(20%);
		filter: blur(80px) grayscale(20%);
		@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
   		/* IE10+ specific styles go here */
			display: none;
		}
	}
	.container {
		display: flex;
		padding: 0;
		align-items: center;
		justify-content: center;
		overflow:hidden;
		@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
   		/* IE10+ specific styles go here */
			flex: 0 1 auto;
		}
		#videoPlayer {
			background: 0;
			overflow: visible;
			// z-index: 8888;

			&.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-control-bar,
			&.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-control-bar,
			&.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-control-bar,
			&.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar,
			&.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar,
			&.vjs-has-started.vjs-paused.vjs-ad-playing.vjs-user-inactive .vjs-control-bar {
				transform: none;
				-webkit-transform: none;
				-ms-transform: none;
			}

			.vjs-big-play-button,
			.vjs-loading-spinner,
			.vjs-volume-panel,
			.vjs-current-time,
			.vjs-duration,
			.vjs-volume-panel,
			.vjs-poster {
				display: none;
			}
			.vjs-control-bar {
				position: absolute;
				bottom: 1em;
				left: 0;
				z-index: 9999;
				width: 100%;
				background: none;

				.vjs-play-control {
					background: url(pause.svg) no-repeat;
					background-size: contain;
					position: absolute;
					bottom: 0;
					left: 1.25em;
					height: 2.8em;
					width: 2.75em;
					&.vjs-paused {
						background: url(play.svg) no-repeat;
						background-size: contain;
					}
					.vjs-icon-placeholder {
						display: none;
					}
				}
				.vjs-time-control {
					display: none;
				}
				.vjs-progress-control {
					position: absolute;
					left: 5em;
					top: 1.25em;
					width: 75%;
					height: 0.75em;
					@media all and (max-height: 700px) {
						width: 72%;
					}
					@media all and (max-height: 600px) {
						width: 70%;
					}
					@media all and (max-height: 500px) {
						width: 65%;
					}
					@media all and (max-height: 450px) {
						width: 60%;
					}
					@media all and (max-height: 400px) {
						width: 55%;
					}
					@media all and (max-height: 350px) {
						display:none;
					}
					.vjs-progress-holder {
						.vjs-load-progress,
						.vjs-mouse-display {
							display: none;
						}
					}
					&:hover {
						height: 0.75em;
					}
				}
				.vjs-subs-caps-button {
					.vjs-cc-button {
						position: absolute;
						right: 1em;
						bottom: 0;
						width: 2.75em;
						height: 2.5em;
						background: url(cc.svg) no-repeat;
						background-size: contain;
						opacity: 0.6;
					}
					.vjs-subs-caps-button.vjs-menu-button,
					.vjs-menu {
						display: none;
					}
				}
			}
			&.showMode,
			&.playlistMode {
				.vjs-control-bar {
					display: none;
				}
			}
		}
		#videoInfo {
			overflow: hidden;
			z-index: 9999;
			pointer-events: none;
			position: absolute;
			left: 0;
			top: 0;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			@media all and (max-width: 400px) {
				font-size: 16px;
			}
			@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
	   		/* IE10+ specific styles go here */
				flex: 0 1 auto;
			}
			.description {
				color: white;
				font-size: 1.3em;
				line-height: 1.5em;
				font-family: 'proxima-nova', 'Helvetica', 'Arial', sans-serif;
				font-weight: 700;
				text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
				letter-spacing: -0.7px;
				z-index: 100;
				margin-bottom: 60px;
				margin-left: 25px;
				max-width: 13em;
				user-select: none;
				.showUnderline {
					border-bottom: 5px solid $shows-colour1;
				}
				.episodeUnderline {
					border-bottom: 5px solid $episodes-colour;
				}
				.playlistUnderline {
					border-bottom: 5px solid $playlists-colour;
				}
				.videoUnderline {
					border-bottom: 5px solid $episodes-colour;
				}
			}
			@mixin contentTitle {
				user-select: none;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				opacity: 0.9;
				font-weight: 900;
				font-family: 'proxima-nova', 'Helvetica', 'Arial', sans-serif;
				word-wrap: break-word;
				margin-left: 20px;
				@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
   				/* IE10+ specific styles go here */
					background: transparent;
				}
			}
			.showTitleLrg {
				font-size: 9em;
				max-width: 2.5em;
				line-height: 0.8em;
				letter-spacing: -3px;
				text-transform: uppercase;
				color: $shows-colour1;
				background: $shows-colour1;
				background: -webkit-linear-gradient(90deg, $shows-colour1 0%, $shows-colour2 2.5em);
				background: linear-gradient(90deg, $shows-colour1 0%, $shows-colour2 2.5em);
				@include contentTitle;
			}
			.episodeTitle {
				font-size: 8em;
				max-width: 2.25em;
				line-height: 0.8em;
				color: $episodes-colour;
				background: $episodes-colour;
				@include contentTitle;

			}
			.playlistTitleLrg {
				font-size: 6em;
				max-width: 3.3em;
				line-height: 0.8em;
				letter-spacing: -3px;
				text-transform: uppercase;
				color: $playlists-colour;
				background: $playlists-colour;
				@include contentTitle;

			}
			.showTitleSml {
				font-size: 2.25em;
				max-width: 7.5em;
				color: $episodes-colour;
				background: $episodes-colour;
				@include contentTitle;
				margin-left: 25px;
			}
			.playlistTitleSml {
				font-size: 2.25em;
				max-width: 7.5em;
				color: $episodes-colour;
				background: $episodes-colour;
				@include contentTitle;
				margin-left: 25px;
			}
		}

		.face {
			overflow:hidden;
			display: flex;
			align-items: center;
			.coverImg {
				width: 100%;
				height: auto;
			}
		}
	}
}
