html,
body {
  margin: 0;
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none; }

#masthead {
  min-height: 0 !important;
  margin: 0 auto;
  padding: 10px 0 0 !important;
  pointer-events: none; }

#navToggler,
#menu-asa-main-menu,
.nav-link {
  pointer-events: auto; }

#custom-nav {
  pointer-events: none; }

#app {
  font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
  width: 100vw;
  margin: 0 auto;
  height: 100vh; }
  #app #preloader {
    position: fixed;
    top: 10px;
    left: 0;
    width: 300vw;
    height: 300vw;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #09163b;
    opacity: 0.95;
    z-index: 9999; }
    #app #preloader #preloader-logo {
      padding-top: 40px;
      position: fixed;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 30px;
      height: 30px;
      background: url(nav-toggle-default.svg) no-repeat;
      background-position: center;
      background-size: 30px 30px;
      z-index: 9999; }
  #app .landscapeMsg {
    display: none;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: white;
    background-color: black;
    opacity: 0;
    -webkit-backface-visibility: hidden; }
    #app .landscapeMsg p {
      text-shadow: 1px 1px 1px black; }
  #app .muted {
    background: url(muted.svg) no-repeat;
    background-size: contain;
    width: 2em;
    height: 2em;
    z-index: 9999; }
  #app .desktopControls {
    border: 1px solid white;
    border-radius: 50%;
    height: 10em;
    width: 10em;
    position: absolute;
    bottom: 60px;
    right: 60px;
    color: white;
    opacity: 0.8;
    z-index: 9999;
    cursor: pointer;
    padding: 0;
    overflow: hidden; }
    @media all and (max-width: 800px) {
      #app .desktopControls {
        display: none; } }
    #app .desktopControls .navButton {
      width: 5em;
      height: 5em;
      background: url(arrow.svg) no-repeat;
      background-size: 1em;
      background-position: 70% 70%; }
      #app .desktopControls .navButton.hover {
        background: -moz-radial-gradient(bottom right, ellipse cover, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.8) 100%), url(arrow.svg) 70% 70%/1em no-repeat;
        /* FF3.6-15 */
        background: -webkit-radial-gradient(bottom right, ellipse cover, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.8) 100%), url(arrow.svg) 70% 70%/1em no-repeat;
        /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at bottom right, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.8) 100%), url(arrow.svg) 70% 70%/1em no-repeat;
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
    #app .desktopControls .navUp {
      position: absolute;
      top: -1.5em;
      left: 2.5em;
      transform: rotate(45deg); }
    #app .desktopControls .navRight {
      position: absolute;
      right: -1.5em;
      top: 2.5em;
      transform: rotate(135deg); }
    #app .desktopControls .navDown {
      position: absolute;
      bottom: -1.5em;
      left: 2.5em;
      transform: rotate(225deg); }
    #app .desktopControls .navLeft {
      position: absolute;
      left: -1.5em;
      top: 2.5em;
      transform: rotate(315deg); }
  #app #backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    -webkit-filter: blur(80px) grayscale(20%);
    -moz-filter: blur(80px) grayscale(20%);
    -o-filter: blur(80px) grayscale(20%);
    -ms-filter: blur(80px) grayscale(20%);
    filter: blur(80px) grayscale(20%); }
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
      #app #backgroundVideo {
        /* IE10+ specific styles go here */
        display: none; } }
  #app .container {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden; }
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
      #app .container {
        /* IE10+ specific styles go here */
        flex: 0 1 auto; } }
    #app .container #videoPlayer {
      background: 0;
      overflow: visible; }
      #app .container #videoPlayer.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-control-bar,
      #app .container #videoPlayer.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-control-bar,
      #app .container #videoPlayer.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-control-bar,
      #app .container #videoPlayer.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar,
      #app .container #videoPlayer.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar,
      #app .container #videoPlayer.vjs-has-started.vjs-paused.vjs-ad-playing.vjs-user-inactive .vjs-control-bar {
        transform: none;
        -webkit-transform: none;
        -ms-transform: none; }
      #app .container #videoPlayer .vjs-big-play-button,
      #app .container #videoPlayer .vjs-loading-spinner,
      #app .container #videoPlayer .vjs-volume-panel,
      #app .container #videoPlayer .vjs-current-time,
      #app .container #videoPlayer .vjs-duration,
      #app .container #videoPlayer .vjs-volume-panel,
      #app .container #videoPlayer .vjs-poster {
        display: none; }
      #app .container #videoPlayer .vjs-control-bar {
        position: absolute;
        bottom: 1em;
        left: 0;
        z-index: 9999;
        width: 100%;
        background: none; }
        #app .container #videoPlayer .vjs-control-bar .vjs-play-control {
          background: url(pause.svg) no-repeat;
          background-size: contain;
          position: absolute;
          bottom: 0;
          left: 1.25em;
          height: 2.8em;
          width: 2.75em; }
          #app .container #videoPlayer .vjs-control-bar .vjs-play-control.vjs-paused {
            background: url(play.svg) no-repeat;
            background-size: contain; }
          #app .container #videoPlayer .vjs-control-bar .vjs-play-control .vjs-icon-placeholder {
            display: none; }
        #app .container #videoPlayer .vjs-control-bar .vjs-time-control {
          display: none; }
        #app .container #videoPlayer .vjs-control-bar .vjs-progress-control {
          position: absolute;
          left: 5em;
          top: 1.25em;
          width: 75%;
          height: 0.75em; }
          @media all and (max-height: 700px) {
            #app .container #videoPlayer .vjs-control-bar .vjs-progress-control {
              width: 72%; } }
          @media all and (max-height: 600px) {
            #app .container #videoPlayer .vjs-control-bar .vjs-progress-control {
              width: 70%; } }
          @media all and (max-height: 500px) {
            #app .container #videoPlayer .vjs-control-bar .vjs-progress-control {
              width: 65%; } }
          @media all and (max-height: 450px) {
            #app .container #videoPlayer .vjs-control-bar .vjs-progress-control {
              width: 60%; } }
          @media all and (max-height: 400px) {
            #app .container #videoPlayer .vjs-control-bar .vjs-progress-control {
              width: 55%; } }
          @media all and (max-height: 350px) {
            #app .container #videoPlayer .vjs-control-bar .vjs-progress-control {
              display: none; } }
          #app .container #videoPlayer .vjs-control-bar .vjs-progress-control .vjs-progress-holder .vjs-load-progress,
          #app .container #videoPlayer .vjs-control-bar .vjs-progress-control .vjs-progress-holder .vjs-mouse-display {
            display: none; }
          #app .container #videoPlayer .vjs-control-bar .vjs-progress-control:hover {
            height: 0.75em; }
        #app .container #videoPlayer .vjs-control-bar .vjs-subs-caps-button .vjs-cc-button {
          position: absolute;
          right: 1em;
          bottom: 0;
          width: 2.75em;
          height: 2.5em;
          background: url(cc.svg) no-repeat;
          background-size: contain;
          opacity: 0.6; }
        #app .container #videoPlayer .vjs-control-bar .vjs-subs-caps-button .vjs-subs-caps-button.vjs-menu-button,
        #app .container #videoPlayer .vjs-control-bar .vjs-subs-caps-button .vjs-menu {
          display: none; }
      #app .container #videoPlayer.showMode .vjs-control-bar, #app .container #videoPlayer.playlistMode .vjs-control-bar {
        display: none; }
    #app .container #videoInfo {
      overflow: hidden;
      z-index: 9999;
      pointer-events: none;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
      @media all and (max-width: 400px) {
        #app .container #videoInfo {
          font-size: 16px; } }
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        #app .container #videoInfo {
          /* IE10+ specific styles go here */
          flex: 0 1 auto; } }
      #app .container #videoInfo .description {
        color: white;
        font-size: 1.3em;
        line-height: 1.5em;
        font-family: 'proxima-nova', 'Helvetica', 'Arial', sans-serif;
        font-weight: 700;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        letter-spacing: -0.7px;
        z-index: 100;
        margin-bottom: 60px;
        margin-left: 25px;
        max-width: 13em;
        user-select: none; }
        #app .container #videoInfo .description .showUnderline {
          border-bottom: 5px solid #11eeff; }
        #app .container #videoInfo .description .episodeUnderline {
          border-bottom: 5px solid #ff20d2; }
        #app .container #videoInfo .description .playlistUnderline {
          border-bottom: 5px solid #fde147; }
        #app .container #videoInfo .description .videoUnderline {
          border-bottom: 5px solid #ff20d2; }
      #app .container #videoInfo .showTitleLrg {
        font-size: 9em;
        max-width: 2.5em;
        line-height: 0.8em;
        letter-spacing: -3px;
        text-transform: uppercase;
        color: #11eeff;
        background: #11eeff;
        background: -webkit-linear-gradient(90deg, #11eeff 0%, #1eff71 2.5em);
        background: linear-gradient(90deg, #11eeff 0%, #1eff71 2.5em);
        user-select: none;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0.9;
        font-weight: 900;
        font-family: 'proxima-nova', 'Helvetica', 'Arial', sans-serif;
        word-wrap: break-word;
        margin-left: 20px; }
        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
          #app .container #videoInfo .showTitleLrg {
            /* IE10+ specific styles go here */
            background: transparent; } }
      #app .container #videoInfo .episodeTitle {
        font-size: 8em;
        max-width: 2.25em;
        line-height: 0.8em;
        color: #ff20d2;
        background: #ff20d2;
        user-select: none;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0.9;
        font-weight: 900;
        font-family: 'proxima-nova', 'Helvetica', 'Arial', sans-serif;
        word-wrap: break-word;
        margin-left: 20px; }
        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
          #app .container #videoInfo .episodeTitle {
            /* IE10+ specific styles go here */
            background: transparent; } }
      #app .container #videoInfo .playlistTitleLrg {
        font-size: 6em;
        max-width: 3.3em;
        line-height: 0.8em;
        letter-spacing: -3px;
        text-transform: uppercase;
        color: #fde147;
        background: #fde147;
        user-select: none;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0.9;
        font-weight: 900;
        font-family: 'proxima-nova', 'Helvetica', 'Arial', sans-serif;
        word-wrap: break-word;
        margin-left: 20px; }
        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
          #app .container #videoInfo .playlistTitleLrg {
            /* IE10+ specific styles go here */
            background: transparent; } }
      #app .container #videoInfo .showTitleSml {
        font-size: 2.25em;
        max-width: 7.5em;
        color: #ff20d2;
        background: #ff20d2;
        user-select: none;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0.9;
        font-weight: 900;
        font-family: 'proxima-nova', 'Helvetica', 'Arial', sans-serif;
        word-wrap: break-word;
        margin-left: 20px;
        margin-left: 25px; }
        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
          #app .container #videoInfo .showTitleSml {
            /* IE10+ specific styles go here */
            background: transparent; } }
      #app .container #videoInfo .playlistTitleSml {
        font-size: 2.25em;
        max-width: 7.5em;
        color: #ff20d2;
        background: #ff20d2;
        user-select: none;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0.9;
        font-weight: 900;
        font-family: 'proxima-nova', 'Helvetica', 'Arial', sans-serif;
        word-wrap: break-word;
        margin-left: 20px;
        margin-left: 25px; }
        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
          #app .container #videoInfo .playlistTitleSml {
            /* IE10+ specific styles go here */
            background: transparent; } }
    #app .container .face {
      overflow: hidden;
      display: flex;
      align-items: center; }
      #app .container .face .coverImg {
        width: 100%;
        height: auto; }
